<!--TO EXTEND BASE-->
{% extends 'CodeApp/base.html' %}

{% block header %}
<h3>Resources</h3>
{% endblock header %}

{% block content %}
<p>We serve as a resource for parents, educators, and other organizations looking
to address the digital skills gap, and raising awareness about the importance of
    diversity in tech and the role of computer science education in lifting prosperity in Memphis.</p>

​

<p>CodeCrew is passionate about students and the community alike to have access to
quality computer science and tech education.  As advocates raising awareness of the
importance of computer science education, we whole heartedly support other initiatives
    in Memphis engaged in this work.</p>

{% endblock content %}


{% block links %}
<p><a href="">In-School Electives</a></p>
<p><a href="">After School Programs</a></p>
<p><a href="">Exposure Events</a></p>
<p><a href="">Code School</a></p>
<p><a href="">Internship</a></p>

{% endblock links %}